body {
	background-image: url("../images/donuts.png");
}

.item {
	display: inline-block;
	width: 30%;
	margin-right: 1rem;
}

.item:nth-child(last){
	margin-right: 0;
}

img {
	width: 100%;
}

button {
	background-color: #00edff;
}

#add-gif {
	background-color: #53b4f8;
	border: none;
}

#add-gif:hover {
	color: #f49bbb;
}